img.media__image {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 2em;
    margin-top: .8%;
    margin-right: 1em;
    border-radius: 1%;
}


p.genre {
    
    margin-bottom: 0;
}

div.list-group-item {
    display: flex;
    justify-content: space-evenly;
}