.mediaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.mediaCard {
    flex-basis: 15%;
      
      padding: 1em;
      
}

.logout {
    float: right;
    margin-right: 3%;
}

.media {
    justify-content: left;
}