
.mediaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.mediaCard {
    flex-basis: 15%;
      
      padding: 1em;
      
}

Form {
    margin-top: 2em;
}




.trending__text {
    text-align: center;
}