
.mediaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
section.mediaCard {
    width: 20%;
    padding: 10px;  
}

Form {
    margin-top: 2em;
}

img.mediaCard__image {
    width: 10em;
    height: auto;
}


.trending__text {
    text-align: center;
}