.recommendationList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3.recListHeader {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 1%;
}

div.card {
    margin-right: 1.5em;
    margin-top: .5em;
}

Button.rec-save {
    margin-left: 43%;
    margin-bottom: 10%
}


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

ol.recommendationList {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol.recommendationList li.recommendation {
    counter-increment: my-awesome-counter;
  }
  ol.recommendationList li.recommendation::before {
    content: counter(my-awesome-counter) ". ";
    color: black;
    font-weight: bold;
    font-family: 'Abril Fatface', serif;
  }
  
  body {
    font-family: Montserrat, sans-serif;
  }

